/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
  display: block;
  margin: 0 auto;
  height 400px;
}

body {
  background-color: black;
  color: white;
  padding-left: 20%;
  padding-top: 2%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/